[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.19"

remappings = [
    "forge-std/=lib/forge-std/src/"
]

[fmt]
line_length = 120
tab_width = 4
quote_style = "double"
bracket_spacing = true

optimizer = true
optimizer_runs = 200

bytecode_hash = "ipfs"
